### Build & Dependency ###
.gradle
build
out
.idea
*.iml

### Git ###
.git
.gitignore

### Docker ###
.dockerignore
Dockerfile
docker-compose.yml

### Logs ###
.logs

### Local Storage ###


### Documentation ###
HELP.md
README.md

### Environment ###
.env