PGHOST:xxxxxxxxxxxxxxxxx.ap-northeast-2.rds.amazonaws.com
PGPORT:5432
PGDATABASE:deokhugam_db
PGUSER:postgres
PGPASSWORD: 비밀번호

STORAGE_TYPE:s3
AWS_S3_ACCESS_KEY: 엑세스 키
AWS_S3_SECRET_KEY: 시크릿 키
AWS_S3_REGION:ap-northeast-2
AWS_S3_BUCKET:gwanwoong-bucket

AWS_ACCESS_KEY= 엑세스 키
AWS_SECRET_KEY= 시크릿 키
AWS_REGION=ap-northeast-2
AWS_BUCKET_NAME=gwanwoong-bucket

NAVER_CLIENT_ID= 네이버 클라이언트 ID 값
NAVER_CLIENT_SECRET= 네이버 클라이언트 시크릿 키

OCR_SPACE_API_KEY= OCR SPACE API 키

MAIL_USERNAME=gwanwoongofficial@gmail.com
MAIL_PASSWORD= 메일 비밀번호

ES_HOSTS=http://elasticsearch:9200

KAFKA_BOOTSTRAP_SERVERS=deokhugam-kafka:29092
